# General folders to ignore
__pycache__/
.pytest_cache/
logs/
*egg-info*/
dist/
doc/
build/
docs/html
docs/build/

# General files to ignore
*.html

# Specific files to ignore
.DS_Store
.envrc

# Package folders to ignore
p2obp/tests/data/
